
.cart-header-outer{
	margin: 30px auto 10px;
	width: 1423px;
}
.cart-header{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.cart-header a{
	float: left;
	width: 414px;
	height: 44px;
	background: url(../img/cart/cart_img.png) no-repeat -15px -17px;
}
.cart-header div{
	float: right;
	margin: 15px 2px 0;
	width: 700px;
	height: 31px;
	background: url(../img/cart/cart_img.png) no-repeat -15px -89px;
}
.wrap-outer{
	width: 1423px;
	margin: 0 auto;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}
.wrap-tip{
	width: 1200px;
	width: 429px;
	height: 32px;
	background: url(../img/cart/warm.png) no-repeat;
	text-indent: 7px;
	font-family: '宋体';
	line-height: 25px;
}
.wrap-tip em{
	color: #fe0032;
	font-style: normal;
}
.wrap-tip a{
	color: #fe0032;
	margin: 0 5px;
}
.shoping-list{
	width: 1198px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0 0 10px;
}
.shoping-list form{
	overflow: hidden;
}
.shopping-title{
	width: 1198px;
	height: 36px;
	line-height: 36px;
	background: url(../img/cart/cartbar2.png) no-repeat;
	float: left;
}
.shopping-title .shop-qx{
	float: left;
	font-family: 'Microsoft YaHei';
	font-size: 12px;
	text-align: center;
	font-size: 13px;
}
.shop-top h3{
	width: 92%;
	float: left;
	height: 40px;
	line-height: 55px;
	font-size: 14px;
	padding-left: 20px;
	background: #fff;
	color: #333;
	font-family: '微软雅黑';
}
.shop-top ul{
	margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 92%;
}
.shop-top ul li{
	height: auto;
	border-bottom: #eaeaea 1px solid;
	font-family: 'Microsoft YaHei';
	float: left;
	overflow: hidden;
}
.shop-top ul li>div{
	float: left;
	text-align: center;
	height: 132px;
	font-size: 12px;
	background: url(../img/cart/shopping_car_bg.png) no-repeat right;
}
.shop-top ul li div.shop_product{
	width: 367px;
	height: auto;
	margin-left: 15px;
	padding-bottom: 10px;
	text-align: left;
}
.shop-top ul li .shop_product_pic{
	float: left;
    width: 112px;
    height: auto;
    border: #ddd 1px solid;
    margin: 10px 0 0 0;
}
.shop-top ul li a{
	text-decoration: none;
	color: #565656;
	text-align: left;
	font: 14px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;
}
.shop-top ul li a img{
	width: 112px;
	height: 114px;
}
.shop-top ul li .shop_product_name{
	margin: 40px 0 0 10px;
	float: left;
	display: inline;
	width: 243px;
	overflow: hidden;
}
.shop-top ul li .shop_product_size{
	width: 243px;
	height: 18px;
	margin: 10px 0 0 10px;
	float: left;
}
.shop-top ul li .shop_product_money{
	width: 132px;
}
.shop-top ul li .shop_product_money .cprice{
	padding: 50px 0;
}
.shop-top ul li .shop_product_money .cprice del{
	color: #999;
	line-height: 20px;
}
.shop-top ul li .shop_product_money .cprice span{
	color: #000000;
	line-height: 20px;
}
.shop-top ul li .shop_product_number{
	width: 132px;
}
.amount-widget {
    position: relative;
    display: inline-block;
    margin: 51px 0;
}
.amount-widget .decrease, .amount-widget .increase {
    width: 12px;
    height: 12px;
    float: left;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a7a6ab;
    position: absolute;
    margin: 7px 0;
    cursor: pointer;
}
.amount-widget .decrease, .amount-widget .increase {
    width: 12px;
    height: 12px;
    float: left;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a7a6ab;
    position: absolute;
    margin: 7px 0;
    cursor: pointer;
}
.amount-widget .increase {
    right: -20px;
}
.amount-widget .decrease {
    left: -20px;
}
.shop-top ul li .shop_product_number input {
    width: 36px;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
    text-align: center;
    border: 1px solid #ccc;
    color: #444;
}
.shop-top ul li .shop_product_money00 {
    width: 122px;
    font-size: 14px;
    color: #bf0000;
    line-height: 132px;
}
.shop-top ul li .shop_product_close {
    width: 134px;
    font-size: 12px;
}
.shop-top ul li .shop_product_close .middle {
    padding: 50px 0;
}
.shop-top ul li .shop_product_tip {
    background: none;
    width: 184px;
}
.shop-top ul li .shop_product_tip .middle {
	text-align: center;
    padding: 24px 10px 0 10px;
}
.shopping_car_bottom {
    width: 1196px;
    float: left;
    min-height: 45px;
    height: auto;
    line-height: 26px;
    border: solid 1px #ddd;
    border-top: none;
}
form>div{
	overflow: hidden;
	border: 1px solid #ccc;
}
.shopping_car_bottom_right {
    float: right;
    height: auto;
    width: 1198px;
    margin-right: 2px;
    padding-right: 8px;
    border-top: none;
}
.accumulated {
    margin: 10px 0;
}
.fr {
    float: right;
    display: inline;
}
.shopping_car_bottom_right table {
    font-size: 12px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}
table td{
	text-align: right;
	font-family: "微软雅黑";
	line-height: 26px;
	color: #000000;
}
.p_color {
    color: #ff0032;
    font-family: '微软雅黑';
}
.td_len1 {
    width: 60px;
}
.shopping_car_bottom_bg {
    background: #fdfdfd;
}
.shopping_car_bottom {
    width: 1198px;
    float: left;
    min-height: 45px;
    height: auto;
    line-height: 26px;
    border: solid 1px #ddd;
    border-top: none;
    overflow: hidden;
}
.shopping_car_bottom_right span.shopping_car_bottom_rightMoney {
    float: right;
    right: 20px;
    height: 40px;
    font: 18px/20px 'Microsoft YaHei';
}
.shopping_car_bottom_rightMoney span {
    font: 14px/20px 'Microsoft YaHei';
    color: #bf0000;
	font-size: 18px;
}
.cart_btn.btn9 {
    width: 119px;
    height: 36px;
    background-position: -16px -747px;
}
.cart_btn {
    background: url(../img/cart/cart_img.png) no-repeat;
    cursor: pointer;
}
.cart_btn.btn1 {
    width: 157px;
    height: 36px;
    background-position: -16px -361px;
}
.fl {
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.bottom2{
	width: 1190px;
	margin-right: 0;
	background: #fdfdfd;
	padding-bottom: 10px;
}
.notlogin{
	width: 1198px;
	height: 200px;
	position: absolute;
	text-align: center;
	background: #fff url(../img/cart/gouwuc.png) no-repeat 336px 40px ;
	z-index: 100;
	display: none;
}
.notlogin p{
	line-height: 150px;
	font-size: 14px;
	margin-left: -160px;
}
.notlogin p a{
	color: #BF0000;
}










































